<body>
    <div id="container">
        <div class="container-fluid" id="leftchart">
            <br>
            <p>This week</p>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <canvas id="labelChartWeek" width="900" height="900"></canvas>
                </div>

            </div>
        </div>

        <div class="container-fluid" id="rightchart">
            <br>
            <p>This month</p>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <canvas id="labelChartMonth" width="900" height="900"></canvas>
                </div>

            </div>
        </div>
    </div>
    <br id="cusbr">
    <div id="container">
        <div class="container-fluid">
            <br>
            <p>Customer's expression while buying products</p>
            <div class="row d-flex justify-content-center">

                <table class="table table-striped" id="prodexp" width="100%" cellpadding="10">
                    <thead>
                        <tr>
                            <th id="noc">Product ID</th>
                            <th>Product's Name</th>
                            <th><img src="../static/images/happy.png" /></th>
                            <th><img src="../static/images/sad.png" /></th>
                            <th><img src="../static/images/neutral.png" /></th>
                        </tr>

                    </thead>
                    <tbody>

                    </tbody>
                </table>


            </div>
        </div>
    </div>
    <script type="text/javascript" src="../static/js/monthfunction.js"></script>
    <script type="text/javascript" src="../static/js/weekfunction.js"></script>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: "http://0.0.0.0:8855/productexpression",
                success: function (data) {
                    var happy = sad = neutral = 0;
                    var fetch_data = JSON.parse(data.replace(/&#34;/g, "\""));
                    
                    for ([i, data] of fetch_data.entries()) {
                        
                        if (data.expression == "happy") {
                            console.log(data);
                            if(i == 0 || (i>0 && fetch_data[i-1].id == data.id)){
                                happy = data.count;
                            }
                            else if(i>0 && fetch_data[i-1].id != data.id){
                                // alert("new");
                                $('#prodexp tbody').append(
                                    '<tr>'+
                                    '<td>'+fetch_data[i-1].id+'</td>'+
                                    '<td>'+fetch_data[i-1].productname+'</td>'+
                                    '<td>'+happy+'</td>'+
                                    '<td>'+sad+'</td>'+
                                    '<td>'+neutral+'</td>'+
                                    '</tr>');
                                
                                happy = sad = neutral = 0;
                                happy = data.count;
                            }
                        }
                        else if (data.expression == "sad") {
                            console.log(data);
                            if(i == 0 || (i>0 && fetch_data[i-1].id == data.id)){
                                sad = data.count;
                            }
                            else if(i>0 && fetch_data[i-1].id != data.id){
                                // alert("new");
                                $("#prodexp tbody").append('<tr>'+
                                    '<td>'+fetch_data[i-1].id+'</td>'+
                                    '<td>'+fetch_data[i-1].productname+'</td>'+
                                    '<td>'+happy+'</td>'+
                                    '<td>'+sad+'</td>'+
                                    '<td>'+neutral+'</td>'+
                                    '</tr>');
                                
                                happy = sad = neutral = 0;
                                sad = data.count;
                            }
                        }
                        else if (data.expression == "neutral") {
                            console.log(data);
                            if(i == 0 || (i>0 && fetch_data[i-1].id == data.id)){
                                neutral = data.count;
                            }
                            else if(i>0 && fetch_data[i-1].id != data.id){
                                // alert("new");
                                $("#prodexp tbody").append('<tr>'+
                                    '<td>'+fetch_data[i-1].id+'</td>'+
                                    '<td>'+fetch_data[i-1].productname+'</td>'+
                                    '<td>'+happy+'</td>'+
                                    '<td>'+sad+'</td>'+
                                    '<td>'+neutral+'</td>'+
                                    '</tr>');
                                
                                happy = sad = neutral = 0;
                                neutral = data.count;
                            }
                        }
                    }
                    $('#prodexp tbody').append(
                                    '<tr>'+
                                    '<td>'+fetch_data[fetch_data.length-1].id+'</td>'+
                                    '<td>'+fetch_data[fetch_data.length-1].productname+'</td>'+
                                    '<td>'+happy+'</td>'+
                                    '<td>'+sad+'</td>'+
                                    '<td>'+neutral+'</td>'+
                                    '</tr>');
                }
            });
        });
        var fetch_data = JSON.parse('{{data}}'.replace(/&#34;/g, "\""));
        console.log(fetch_data);

        showLabelChartWeek(fetch_data);
        showLabelChartMonth(fetch_data);
    </script>
</body>