<body>
    <div id="container">
        <div class="container-fluid" id="lefttoday">
            <br>
            <div class="row d-flex justify-content-center">
                <p>s</p>
            </div>
        </div>
        
        <div class="container-fluid" id="midtoday">
            <br>
            <div class="row d-flex justify-content-center">
                <p>s</p>
            </div>
        </div>

        <div class="container-fluid" id="righttoday">
            <br>
            <div class="row d-flex justify-content-center">
                <p>x</p>
            </div>
        </div>
        

    </div>
    <br id="cusbr">
    <div class="container-fluid" >
        <br>
        <div class="row d-flex justify-content-center">
            <p>x</p>
        </div>
    </div>
    <script type="text/javascript" src="../static/js/todayfunction.js"></script>
</body>